
/*@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?yguao5');
	src:url('fuentes/icomoon.eot?#iefixyguao5') format('embedded-opentype'),
		url('fuentes/icomoon.woff?yguao5') format('woff'),
		url('fuentes/icomoon.ttf?yguao5') format('truetype'),
		url('fuentes/icomoon.svg?yguao5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkitfont-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lapiz:before {
	content: "\e600";
	margin-right: 0.5em;
}
.icon-estrella:before {
	content: "\e601";
	position: relative;
	top: 0.1em;
	margin-right: 0.3em;

}
.icon-flecha-abajo:before {
	content: "\e602";
}
.icon-flecha-arriba:before {
	content: "\e603";
}

}
a
{
	color: #22BCE0;
}

aside 
{
	display: none;
}

body
{
	background: #e9eaed;
	/*font-family: ''open_sansregular';'*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
header
{
	background: #344B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}
header figure 
{
	float: left;
}
header h1
{
	font-weight: normal;
	font-size: 1.2em;
	margin: 0 70px 0 0;
}
header #logo
{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
}
header #logo img
{
	/*-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);*/
	transition: 1.5s;
	width: 52px;
}
header #logo img:hover
{
	transform: rotate(360deg);
}
header #avatar img
{
	/*-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);*/
	transition: 1.5s;
	width: 52px;
}
header #avatar img:hover
{
	transform: rotate(360deg);
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}
header #avatar
{
	margin: 0.5em 0.5em 0;
	right: 0;
	position: absolute;
	top: 0;
}
nav
{
	background: #2B66B1;/*#80BCA3;*/
	box-shadow: rgba(0,0,0,0.5) 0px;
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0 6em 0 0.5em;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	transition:.5s;
}
nav ul li a:hover
{
	background: #344B54;
}
nav ul #publicar_nav
{
	
	position: absolute;
	right: 0;
	top: -0.1em;
}
nav ul #publicar_nav a.disabled{
	background-color: grey;
	cursor: arrow;
	box-shadow: none;

}

nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: 0.6em 0.8em;	
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	transition:1s;
}
nav ul #publicar_nav a:hover
{
	box-shadow: 0 0 30px yellow;
	
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
	
}

#contenido
{
	margin:  1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	min-height: 128px;
	position: relative;
	margin-bottom: 3em;
}

#contenido .item .autor_item
{
	color: #AAA;
}

#contenido .item .autor_item a
{
	color: #1376C4;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
}
#contenido .item .datos_item .fecha_item
{
	float: right;
	color: #AAA;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	color: white;
	border-radius: 0.5em;
	display: inline;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#contenido .item .imagen_item
{
	float: left;
	margin-right: 1em;
}

#contenido .item .imagen_item img
{
	width: 96px;
	height: 128px;
}

#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0em;
	padding: 0.5em 1em 0 0;
}
#contenido .item .titulo_item a
{
	text-decoration: none;
	color: #444;
}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 1em 1em;
	position: absolute;
	padding: 0.2em 0.5em;
	top:	100%;
	margin-top: 3px;
	left: 3%;
	width: 90%;
}
#contenido .item .votacion a
{
	text-decoration: none;
}

#contenido .item .votacion .guardar_item
{
	color: #FFBE2C;
}

#contenido .item .votacion .down
{
	color: #DD4F24;
}
#contenido .item .votacion .up
{
	color: #22BC68;	
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}

/*MEDIA QUERYS*/

@media screen and (min-width: 800px){
	body
	{
		background: #D9DBE0;
	}
	#contenido 
		{
			overflow: hidden;
		}
	#contenido .item
		{
			width: 49%;
			float: left;
		}
	/*#contenido .autor_item
		{
			padding: 0.2em 0.5em;
		}*/
	#contenido .item:nth-child(odd)/*para tomar valores como un vector*/
	{
		margin-right: 2%;
	}

}

@media screen and (min-width: 800px){
	aside
	{
		display:block;
		float:right;
		margin: 0.5em;
		width: 25%;
		
	}
	aside video
	{
		width: 100%
	}
}

/*FORMULARIO*/

.formulario{
	padding: 1em;
	text-align: right;
	display: none;
}

.formulario input{
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 0.2em 0.6em;
}

.formulario input[type="submit"]
{
	background: #22BCE0;
	border-color: #22BCE0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	transition: 1s;
	color:white;
}